body(ng-app="fcc-bp-vote")
    div(id="fb-root")
    script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=509065969277960";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    div(class="container container-outer")
        header
            nav(class="navbar navbar-default")
                //- http://getbootstrap.com/components/#navbar to explain the DIV
                div(class="container-fluid")
                    div(class="navbar-header")
                        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
                            span(class="sr-only") Toggle navigation
                            span(class="icon-bar")
                            span(class="icon-bar")
                            span(class="icon-bar")
                        a(class="navbar-brand" href="/") Voting App
                    //- /navbar-header
                    div(class="collapse navbar-collapse" target="navbar-collapse")
                        ul(class="nav navbar-nav navbar-right")
                            li
                                //- Note: There is an outstanding bug in Angular where the reload flag may not work properly: https://github.com/angular-ui/ui-router/issues/960
                                a(accesskey="h" data-ui-sref="home" data-ui-sref-opts="{location: true, inherit:null, relative:null, reload: true, notify:true}") 
                                    u H
                                    |ome
                            if typeof username != 'undefined'
                                li
                                    a(accesskey="m" ui-sref="mypolls" ui-sref-opts="{reload: true}" id="button-mypolls")
                                        u M
                                        |y Polls
                                li
                                    a(accesskey="n" ui-sref="new" id="button-new")
                                        u N
                                        |ew Poll
                            if typeof username != 'undefined'
                                li(id="li-sign-out")
                                    a(accesskey="s" ui-sref="logout" id="sign-out" title="Sign out")
                                        i(class="fa fa-sign-out" display="inline !important" aria-hidden="true")
                                        |&nbsp;#{username}
                            else
                                li(id="li-sign-in")
                                    //- Do not change to ui-sref as we actually need to leave the site for auth
                                    a(accesskey="s" href="/auth/twitter" id="sign-in" title="Sign in")
                                        i(aria-hidden="true" class="fa fa-twitter-square" style="display: inline !important;")
                                        |&nbsp;
                                        u S
                                        |ign In
                    //- /navbar-collapse