body(ng-app="fcc-bp-vote")
    div(class="container container-outer")
        header
            nav(class="navbar navbar-default")
                //- http://getbootstrap.com/components/#navbar to explain the DIV
                div(class="container-fluid")
                    div(class="navbar-header")
                        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
                            span(class="sr-only") Toggle navigation
                            span(class="icon-bar")
                            span(class="icon-bar")
                            span(class="icon-bar")
                        a(class="navbar-brand" href="/") Voting App
                    //- /navbar-header
                    div(class="collapse navbar-collapse" target="navbar-collapse")
                        ul(class="nav navbar-nav navbar-right")
                            li 
                                a(ui-sref="home") Home
                            if typeof username != 'undefined'
                                li
                                    a(ui-sref="mypolls" id="button-mypolls") My Polls
                                li
                                    a(ui-sref="new" id="button-new") New Poll
                            if typeof username != 'undefined'
                                li(id="sign-out")
                                    a(ui-sref="logout" title="Sign out")
                                        i(class="fa fa-sign-out" display="inline !important" aria-hidden="true")
                                        |&nbsp;#{username}
                            else
                                li(id="sign-in")
                                    //- Do not change to ui-sref as we actually need to leave the site for auth
                                    a(accesskey="s" href="/auth/twitter" title="Sign in")
                                        i(aria-hidden="true" class="fa fa-twitter-square" style="display: inline !important;")
                                        |&nbsp;
                                        u S
                                        |ign In
                    //- /navbar-collapse