h1(id="header-title") freeCodeCamp Voting App
h2(id="poll-list-label") Polls
hr(class="title-hr")
ul(class="poll-list")
    each poll in polls
        a(ui-sref='poll.detail({pollID:' + 'goo' +'})')
            li= poll.question