//- Reminder to match the indentation of the previous element in header.pug, so we do not close off tags we need to add on to
doctype html
html
    include ./head.pug
    include ./header.pug
    main(class="container container-body")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
        h1(id="header-title") #{poll.question}
        hr(class="title-hr")
        h2(class="poll-author vert-rule-r") Created by #{poll.pollOwner[0].userName}
        div(class="row")
            div(class="col-md-4 poll-options-pane")
                form(action="/submit-vote" id="vote-form" method="post")
                    p Select an #[u o]ption:
                    //- This input makes sure we POST the poll id a vote is being submitted for
                    input(type="hidden" name="poll-id")&attributes({'value': poll._id.toString()})
                    select(accesskey="o" id="vote-dropdown" name="vote-selection")
                        option(value="unchosen") -------------
                        each val, index in poll.options
                            option(value=index) #{val}
                        if (typeof username !== 'undefined')
                            option(value="addNew") (add a custom option)
                    div(id="custom-option-pane" style="display:none")
                        label(for="custom-option-input" class="custom-label") add your own option
                        input(id="custom-option-input" name="custom-vote" type="text")
                    button(accesskey="v" form="vote-form" type="submit" id="cast-vote-button" disabled) Cast #[u V]ote
            //- The JS will use this ID to append an SVG
            div(class="col-md-8 poll-results-pane" id="poll-results-pane")
                