body {
    background-image: radial-gradient(ellipse at center, rgba(250,250,255,1) 0%, rgba(240,255,255,1) 47%, rgba(210,210,245,1) 100%);
}

html {
    height: 100%; /* So the gradient does not look askew */
}

.container-body {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(225, 225, 245, 1), inset 0 0 5px rgba(0, 0, 0, 0.5); 
}

.container-head {
    margin-top: 6px;
}

.navbar {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    position: relative;
}

.navbar-right {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.navbar span {
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
}

.navbar ul {
    height: 100%;
    list-style-type: none;
    margin-right: 10px;
}

.navbar ul li {
    display: inline;
    height: 100%;
    font-size: 20px;
    margin-left: 20px;
}

.navbar ul li a {
    height: 100%;
}

.navbar-right .active {
    background-color:hsla(70,50%,96%,1);
    color: #555 !important; /* Override Bootstrap */
}


.brand {
    display: table-cell;
    position: relative;
    top: 50%;
}

#header-title {
    color: rgba(10, 100, 200, 1);
    font-family: "Arimo", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-align:center;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

#sign-in {
    background-color: hsl(210, 100%, 70%);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    color: white;
    font-family: "Arimo", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

#sign-in:hover {
    background-color: rgb(30, 20, 144);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

#sign-out {
    background-color: hsl(110, 100%, 30%);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    color: white;
    font-family: "Arimo", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}